<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
          <div class="d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-cart-shopping nav-icon"></i>
              <span class="h3 bold">fresh cart</span>
          </div>
      </a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
          
          <ul class="navbar-nav ms-auto mt-2 mt-lg-0 align-items-center gap-2">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/sign-up">register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/sign-in">login</a>
            </li>
          </ul>
         
      </div>
</div>
</nav>


