<div class="auth-overlay d-flex align-items-center justify-content-center" *ngIf="overlay">
    <i class="fa-solid fa-spinner fa-spin fa-3x text-white"></i>
</div>

<div class="container">
    <section class="container my-5 pt-5" *ngIf="productDetails">
        <div class="row align-items-center g-4">
            <div class="col-md-4">
                <owl-carousel-o [options]="productOptions">
    
                    <ng-container *ngFor="let product of productDetails.images">
                      <ng-template carouselSlide>
                        <img [src]="product" alt="">
                      </ng-template>
                    </ng-container>
                
                  </owl-carousel-o>
                
            </div>
            <div class="col-md-8">
                <h2>{{productDetails.title}}</h2>
                <p>{{productDetails.description}}</p>
                <div class="d-flex justify-content-between">
                    <span>{{productDetails.price}}EGP</span>
                    <div class="rating">
                        <i class="fa fa-star rating-color"></i>
                        <span>{{productDetails.ratingsAverage}}</span>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-4">
                    <button type="button" class="w-75 mx-auto btn d-block" (click)="addProduct(productDetails._id)"> + Add</button>
                    <i #heart class="fa-solid fa-heart heart-font heart-color" [ngClass]="wichLesData.includes($any(productDetails._id)) ? 'text-red' : ''" (click)="addRemoveWichLes(productDetails._id, heart)" role="button"></i>
                </div>
            </div>
        </div>
    </section>
</div>
